
body {
    background-color: #121218;
    color: #fff;
    font-family: Poppins;
}

nav {
    background-color: #1c1824;
    font-family: Poppins;
    font-size: larger;
    font-weight: bold;
}
#logo {
  height: 46px;
  width: 46px;
  margin-right: 15px;
}
.navbar-brand {
    font-size: 25px;
    padding-left: 40px;
}

.navbar-nav {
    padding-right: 20px;
    
}
.navbar .navbar-brand:hover {
    color: #fff;
}
.navbar .navbar-brand {
    
    color: #e0017a;
}
.navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #e0017a;
    border-radius: 5px;
}
.navbar .navbar-nav .nav-link {
    color: #e0017a;
    font-size: 20px;
}


@media screen and (min-width: 0px) and (max-width: 920px) {
  .hero {
    background-image: url(media/BackgroundS.jpg);
    height: 100vh;
    text-align: left;
  }
   
}
@media screen and (min-width: 921px) and (max-width: 10000px) {
  .hero {
    background-image: url(media/Background.jpg);
    height: 100vh;
    text-align: left;
  }
}



.img-fluidd {
  width: 100%;
  height: auto;
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.perspective-text {
    color: white;
    font-family: Poppins;
    font-size:50px;
    font-weight: bolder;
    letter-spacing: 0px;
}
  
.perspective-line {
  height: 80px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 70px;
  line-height: 70px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -20deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -20deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -80px);
}

/* .perspective-line:nth-child(1) {
  
} */

.perspective-line:nth-child(2) {
  
  background: #e0017a;
}

.perspective-line:nth-child(3) {
  
  background: #180a36;
}

.perspective-line:nth-child(4) {
  
  background: #0cf5d5;
}




.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


/* --------------About Section-------------- */

.container1 {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .About{
    position: absolute;
    padding: 12%;
    width: 100%;
  }
  .about-heading {
    color: #0cf5d5;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
  }
  p.about {
    text-align: justify;
    color: white;
    font-size: 15px;
    line-height: 2;
  }
   
}
@media screen and (min-width: 921px) and (max-width: 10000px) {
  .About{
    position: absolute;
    padding: 12%;
    width: 100%;
    height: 100%;
  }
  .about-heading {
    color: #0cf5d5;    
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 60px;
  
  }
  p.about {
    text-align: justify;
    color: white;
    font-size: xx-large;
  }
}


/* --------------Education Section-------------- */

.container2 {
  position: relative;
  height: 220vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .Education{
    position: absolute;
    padding: 12%;
    width: 100%;
  }
  .edu-heading {
    color: #0cf5d5;
    padding-bottom: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 35px;
  }
  
   
}
@media screen and (min-width: 921px) and (max-width: 10000px) {
  .Education{
    position: absolute;
    padding: 12%;
    width: 100%;
    height: 100%;
  }
  .edu-heading {
    color: #0cf5d5;    
    padding-bottom: 30px;
    text-align: right;
    font-weight: bold;
    font-size: 70px;
  
  }
  #card {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-bottom: 5%;
  }
  #card h5{
    color: #e0017a;
    font-size: xx-large;
  }
  #card h6{
    color: #0cf5d5;
    font-size: x-large;
  }
}


/* --------------Skills Section-------------- */

.container3 {
  position: relative;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.fa-solid {
  padding-left: 5px;
  padding-right: 10px;
}
.fa-brands {
  padding-left: 5px;
  padding-right: 10px;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .container3 {
    position: relative;
    height: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .Skills{
    position: absolute;
    margin-top: 20px;
    padding: 12%;
    width: 100%;
    height: 100%;
  }
  #tech {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10%;
  }
  #tech h4{
    font-size: medium;
  }
  #pro {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10%;
  }
  #pro h4{
    font-size: medium;
  }
  
  #lang {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
  }

  #lang h4{
    font-size: medium;
  }

  .progress {
    border-radius: 10px;
    margin: 5px 0px;
  }

  .progress-bar{
    background-image: linear-gradient(to right, #7400f8, #e0017a);
    border-radius: 10px;
  }
  .skills-heading {
    color: #0cf5d5;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
  }
  .skills-sub {
    color: #e0017a;    
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
  }
   
}
@media screen and (min-width: 921px) and (max-width: 10000px) {
  .Skills {
    position: absolute;
    padding: 5%;
    width: 100%;
    height: 100%;
  }
  

  #tech {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 30px;
    margin-right: 5%;
    margin-left: 7%;
    width: 40%;
  }
  
  #pro {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 30px;
    margin-right: 8%;
    width: 40%;
  }
  
  #lang {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 30px;
    margin-top: 5%;
    width: 85%;
    margin-left: 7%;
  }

  .progress {
    border-radius: 10px;
    margin: 15px 0px;
  }

  .progress-bar{
    background-image: linear-gradient(to right, #7400f8, #e0017a);
    border-radius: 10px;
  }
  
  .progress-bar:hover {
    animation: 1s anim-line ease-in 1;
  }
  @keyframes anim-line {
    0% {
      opacity: 0;
      transform: translateX(80%);
    }
    20% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .skills-heading {
    color: #0cf5d5;    
    padding-bottom: 40px;
    padding-left: 7%;
    text-align: left;
    font-weight: bold;
    font-size: 70px;
  
  }
  .skills-sub {
    color: #e0017a;    
    padding-bottom: 15px;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
  }
}




/* --------------Work Section-------------- */


.container4 {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .Work{
    position: absolute;
    padding: 12%;
    width: 100%;
  }
  .work-heading {
    color: #0cf5d5;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
  
  }
  p.work {
    text-align: justify;
    color: white;
    font-size: 13px;
  }
   
}
@media screen and (min-width: 921px) and (max-width: 10000px) {
  .Work{
    position: absolute;
    padding: 12%;
    width: 100%;
    height: 100%;
  }
  .work-heading {
    color: #0cf5d5;    
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 50px;
  
  }
  p.work {
    text-align: justify;
    color: white;
    font-size: xx-large;
  }
}

/* --------------Contact Section-------------- */

@media screen and (min-width: 0px) and (max-width: 920px) {
  .Contact{
    position: absolute;
    padding: 12%;
    width: 100%;
    height: 100%;
  }
  .contact-heading {
    color: #0cf5d5;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 35px;
  }
  #form-div {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10%;
    margin-bottom: 5%;
    color: #e0017a;
    font-size: larger;
    font-weight: bold;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }
  #contact-form .btn{
    background-color: #e0017a;
    font-size: larger;
    font-weight: bold;
    width: 40%;
    padding: 2%;
    border-radius: 7px;
    color: #fff;
  }
  #contact-form .form-control{
    background-color: #eceaea;
  }
   
}
@media screen and (min-width: 921px) and (max-width: 10000px) {
  .Contact{
    position: absolute;
    padding: 12%;
    width: 100%;
    height: 100%;
  }
  .contact-heading {
    color: #0cf5d5;    
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 60px;
  }
  #contact-form {
    background: rgba(70, 51, 87, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 7%;
    margin-right: 0%;
    height: 100%;
    color: #e0017a;
    font-size: x-large;
    font-weight: bold;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
  }
  #contact-form .btn{
    background-color: #e0017a;
    font-size: x-large;
    font-weight: bold;
    width: 40%;
    padding: 2%;
    border-radius: 10px;
    color: #fff;
  }
  #contact-form .form-control{
    background-color: #eceaea;
  }
  #contact-img .img-fluid{
    border-radius: 10px;
  }
}




/* --------------Footer Section-------------- */
.container6 {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.Footer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#121218, #1c1824);
  padding: 20%;
  text-align: center;
  justify-content: center;

}
.Footer .fa-brands:hover {
  color: #0cf5d5;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .container6 {
    position: relative;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .Footer .fa-brands {
    padding-left: 2%;
    padding-right: 2%;
    color: #e0017a;
    padding-bottom: 3%;
  }
  .Footer hr {
    color:#f6ff00;
    border: solid 2px;
    border-radius: 10px;
  }
  .copyright {
    padding-top: 2%;
    color: #e0017a;
  }
  .copyright h4 {
    font-weight: bolder;
    font-size: 14px;
  }

}

@media screen and (min-width: 921px) and (max-width: 10000px) {
  .Footer .fa-brands {
    padding-left: 2%;
    padding-right: 2%;
    color: #e0017a;
    padding-bottom: 3%;
  }
  .Footer hr {
    color: #0cf5d5;
    border: solid 2.5px;
    border-radius: 10px;
  }
  .copyright {
    padding-top: 2%;
    color: #e0017a;
    font-weight: bolder;
  }
}







.circle {
    width: 500px;
    height: 500px;
    background-color: #0b3461;
    border-radius: 50%;
    display: inline-block;
    
}


.circle1 {
    width: 700px;
    height: 700px;
    background-color: #d13862;
    border-radius: 50%;
    display: inline-block;
    
}

.circle2 {
    width: 900px;
    height: 900px;
    background-color: #0cf5d5;
    border-radius: 50%;
    display: inline-block;
    
}

.circle3 {
    width: 300px;
    height: 300px;
    background-color: #e3ec10;
    border-radius: 50%;
    display: inline-block;
    
}